<header id="cabecalho">
    <div id="cabecalhoImagem">
        <img src="/images/tituloGerdesv2.png" alt="Gerenciador de Despachos">
    </div>
    <div class="cabecalhoDadosUser">
       Usuário: Capitão William <br>
       Perfil: Despachante <br>
       Unidade: 14º BPM <br>
    </div>
        <nav>
            
        </nav>
</header>
        
        