<header id="cabecalho">
    <div id="cabecalhoImagem">
        <img src="/public/images/tituloGerdes.png" alt="Gerenciador de Despachos">
    </div>
    <div>
       usuário
       Perfil
       unidade
    </div>
        <nav>
            
        </nav>
</header>
        
        