<!DOCTYPE html>
<html lang="pt=br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/estilo.css" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <title>Gerenciador de Despachos</title>
</head>

<%- include("cabecalho.ejs") %>

<body id="homeBody">
    
    <%- include("sidebar.ejs") %>
    <div class="main_content">
        <div class="header">
            Div cabeçalho dentro de main content
        </div>
        <div class="main_body">
            <div class="tituloEBotaoNovaOcorrencia">
                <h1>Ocorrências pendentes</h1>
                <button class="inserir"><i class="far fa-plus-square"></i>Nova Ocorrência</button>                
            </div>
            <div class="divScrollTabela">
                <table class="tableOcorrenciasPendentes">
                    <thead>
                        <tr>
                            <th>Empenhar VTR</th>
                            <th>Fato</th>
                            <th>Endereço</th>
                            <th>Solicitante</th>
                            <th>Nº despacho</th>
                            <th>Tempo desde inserção</th>
                            <th>Despachante responsável</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="button" value="Empenhar">
                            </td>
                            <td>Furto</td>
                            <td>Rua das Couves nº 156</td>
                            <td>José da Silva</td>
                            <td>342</td>
                            <td>5:00</td>
                            <td>Cabo Carlos</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" value="Empenhar">
                            </td>
                            <td>Roubo</td>
                            <td>Rua das Flores nº 156</td>
                            <td>André da Silva</td>
                            <td>343</td>
                            <td>4:00</td>
                            <td>Soldado Tiago</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" value="Empenhar">
                            </td>
                            <td>Tráfico de Drogas</td>
                            <td>Rua Floriano Peixoto nº 892</td>
                            <td>Joana Diniz</td>
                            <td>344</td>
                            <td>2:00</td>
                            <td>Soldado Tiago</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" value="Empenhar">
                            </td>
                            <td>Perturbação de Sossego</td>
                            <td>Rua Weimar Torres nº 2080</td>
                            <td>Maria Aparecida de Jesus</td>
                            <td>345</td>
                            <td>5:00</td>
                            <td>Cabo Carlos</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" value="Empenhar">
                            </td>
                            <td>Perturbação de Sossego</td>
                            <td>Rua Weimar Torres nº 2080</td>
                            <td>Maria Aparecida de Jesus</td>
                            <td>345</td>
                            <td>5:00</td>
                            <td>Cabo Carlos</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" value="Empenhar">
                            </td>
                            <td>Perturbação de Sossego</td>
                            <td>Rua Weimar Torres nº 2080</td>
                            <td>Maria Aparecida de Jesus</td>
                            <td>345</td>
                            <td>5:00</td>
                            <td>Cabo Carlos</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tituloEBotaoNovaOcorrencia"><h1>Ocorrências em atendimento</h1></div>
            <div class="divScrollTabela">
                <table class="tableOcorrenciasEmAtendimento">
                    <thead>
                        <tr>
                            <th>Concluir</th>
                            <th>Fato</th>
                            <th>Viatura</th>
                            <th>Endereço</th>
                            <th>Solicitante</th>
                            <th>Nº despacho</th>
                            <th>Tempo desde inserção</th>
                            <th>Despachante responsável</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="button" value="Concluir">
                            </td>
                            <td>Furto</td>
                            <td>20-1018</td>
                            <td>Rua das Couves nº 156</td>
                            <td>José da Silva</td>
                            <td>342</td>
                            <td>5:00</td>
                            <td>Cabo Carlos</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" value="Concluir">
                            </td>
                            <td>Roubo</td>
                            <td>20-1019</td>
                            <td>Rua das Flores nº 156</td>
                            <td>André da Silva</td>
                            <td>343</td>
                            <td>4:00</td>
                            <td>Soldado Tiago</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" value="Concluir">
                            </td>
                            <td>Tráfico de Drogas</td>
                            <td>20-1020</td>
                            <td>Rua Floriano Peixoto nº 892</td>
                            <td>Joana Diniz</td>
                            <td>344</td>
                            <td>2:00</td>
                            <td>Soldado Tiago</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" value="Concluir">
                            </td>
                            <td>Perturbação de Sossego</td>
                            <td>20-1021</td>
                            <td>Rua Weimar Torres nº 2080</td>
                            <td>Maria Aparecida de Jesus</td>
                            <td>345</td>
                            <td>5:00</td>
                            <td>Cabo Carlos</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    
</body>
<footer>

</footer>

</html>