<!DOCTYPE html>
<html lang="pt=br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/estilo.css" />
    <title>Gerenciador de Despachos</title>
</head>

<body id="indexBody">
    
    <div id="divFormLogin">
        <form action="" method="post">
            <table>
                <tr>
                    <td>
                        <label for="matriculaInputText">Matrícula:</label>
                    </td>
                </tr>
                <tr>
                    <td><input autofocus type="number" name="matriculaInputText" id="matriculaInputText"></td></tr>
                <tr>
                    <td>
                        <label for="senhaInputText">Senha:</label>
                    </td>
                </tr>
                <tr><td>
                    <input type="password" name="senhaInputText" id="senhaInputText">
                </td></tr>
                <tr><td><button type="submit" id="botaoEntrar">Entrar</button></td></tr>
            </table>
        </form>
    </div>
    <div id="logotipoSuperiorDoLogin">
        <img src="/images/BrasaoPMMS.png" alt="Polícia Militar do Mato Grosso do Sul">
        <h1>Gerenciador de Despachos</h1>
    </div>
</body>

</html>