<div class="wrapper">
    <div class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a href="/home"><i class="fas fa-receipt"></i>Ocorrências - Tabelas</a></li>
            <li><a href="/equipes"><i class="fas fa-car"></i>Equipes</a></li>
        </ul>
    </div>
</div>