<div class="wrapper">
    <div class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a href="#"><i class="fas fa-receipt"></i>Ocorrências</a></li>
            <li><a href="#"><i class="fas fa-car"></i>Viaturas</a></li>
            <li><a href="#"><i class="fas fa-chart-line"></i>Estatísticas</a></li>
        </ul>
    </div>
</div>