@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap'); /** Fonte do menu lateral*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap'); /** Fonte das tabelas*/
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body#indexBody{
    background: rgb(15, 21, 104);
}

div#divFormLogin{
    background-color: rgb(229, 234, 243);
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    margin: auto;
    position: absolute;
    padding-top: 20px;
    top: 20%;
    left: 20%;
    display: flex; /* tem que usar display flex pra usar os proximos dois de alinhamento*/
    justify-content: center; /* alinha ao centro horizontalmente*/
    align-items: center; /* alinha todo o conteudo verticalmente*/
}
div#logotipoSuperiorDoLogin{
    /* border: 5px dashed red; */
    font-family: 'Quicksand', sans-serif;
      font-weight: 700;
      font-size: 12px;
    width: 290px;
    height: 120px;
    margin: auto;
    position: absolute;
    display: flex;
    align-items: center;
    top: 20%;
    left: 20%;
}
label {
    text-transform: capitalize;
    font-family: 'Quicksand', sans-serif;
      font-weight: 700;
      font-size: 18px;
    font: bold;
}
input#matriculaInputText, #senhaInputText{
    width: 100%;
    height: 32px;
    padding: 0px 10px;
    background-color: rgba(0,0,0,0.03);
    border: none;
    display: inline;
    color: #303030;
    font-size: 16px;
    font-weight: 400;
    float: left;    
    -webkit-box-shadow: inset 1px 1px 0px rgba(0,0,0,0.05), 1px 1px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 1px 1px 0px rgba(0,0,0,0.05), 1px 1px 0px rgba(255,255,255,1);
    box-shadow: inset 1px 1px 0px rgba(0,0,0,0.05), 1px 1px 0px rgba(255,255,255,1);
}

button#botaoEntrar{
    width: 100%;
    height: 48px;
    margin-top: 24px;
    padding: 0px 20px;
    font-family: 'Quicksand', sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #fff;
    line-height: 40px;
    text-align: center;
    background-color: #063764;
      border: 1px #1f4e50 solid;
      opacity: 1;
      cursor: pointer;
  }
  button#botaoEntrar:hover {
	background-color: #5fc0a8;
  border: 1px #6fd3bc solid;
}

header#cabecalho{
  background-image: url("../images/tituloGerdes.png");
  background-repeat: no-repeat;
  background-color: #1c1c5f;
  height: 110px;
}
header#cabecalho .cabecalhoDadosUser{
  /* border: 1px #ff0000 solid; */
  display: flex;
  position: absolute;
  margin-top: -100px;
  margin-left: 90%;
  color: white;
  font-family: 'Quicksand', sans-serif;
}
body#homeBody{
  background: #323232
}
.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  position: fixed;
  width: 200px;
  height: 100%;
  background: #1c1c5f;
  padding: 30px 0;
}

.wrapper .sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}
.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;  
  font-family: 'Josefin Sans', sans-serif;
}
.wrapper .sidebar ul li a .fas{
  width: 25px;
}
.wrapper .sidebar ul li:hover{
  background: rgb(73, 188, 145);
}
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
.main_content{
  margin-left: 200px;
  padding: 10px;
  color: darkgray;
}
.tituloEBotaoNovaOcorrencia{
  padding: 0px;
  /* border: 1px dashed rgb(193, 230, 28); */
  display: flex;
  width: 800px;
  padding-bottom: 10px;
}
.tituloEBotaoNovaOcorrencia h1{
  /* border: 1px dashed red; */
  width: 400px;
}
button#novaOcorrenciaButton{
  /* border: 1px dashed red; */
  margin-left: auto;
  padding: 5px;
  
}
button#novaOcorrenciaButton i{
  width: 20px;
}

.main_body table td, th{
  text-align: center;
}
.divScrollTabela{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 120px;
  width: fit-content;
  /* border: 5px dashed red; */
}
/* OcorrÊncias Pendentes */
.tableOcorrenciasPendentes {
  border-collapse: collapse;
  margin-top: 0px;
  margin-left: 50px;
  font-size: 0.9em;
  min-width: 400px;
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
}
.tableOcorrenciasPendentes thead tr{
  background: rgb(168, 4, 4);
  text-align: left;
  font-weight: bold;
}
.tableOcorrenciasPendentes th, .tableOcorrenciasPendentes td{
  padding: 1px 1px 1px 10px;
}
.tableOcorrenciasPendentes th{
  background: rgb(168, 4, 4);
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}
.tableOcorrenciasPendentes tbody tr {
  border-bottom: 1px solid #cacaca;
  background-color: #5A0B0B;
}
.tableOcorrenciasPendentes tbody tr:nth-of-type(even){
  background-color: #380606;
}
.tableOcorrenciasPendentes tbody tr:hover{
  background: rgba(255, 102, 0, 0.2);
}
/* Em atendimento */
.tableOcorrenciasEmAtendimento {
  border-collapse: collapse;
  margin-top: 0px;
  margin-left: 50px;
  font-size: 0.9em;
  min-width: 400px;
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
}
.tableOcorrenciasEmAtendimento thead tr{
  background: rgb(168, 138, 4);
  text-align: left;
  font-weight: bold;
}
.tableOcorrenciasEmAtendimento th, .tableOcorrenciasEmAtendimento td{
  padding: 1px 1px 1px 10px;
}
.tableOcorrenciasEmAtendimento th{
  background: rgb(168, 138, 4);
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}
.tableOcorrenciasEmAtendimento tbody tr {
  border-bottom: 1px solid #cacaca;
  background-color: #4d4809;
}
.tableOcorrenciasEmAtendimento tbody tr:nth-of-type(even){
  background-color: #383306;
}
.tableOcorrenciasEmAtendimento tbody tr:hover{
  background: rgba(255, 252, 84, 0.2);
}